<app-dashboard></app-dashboard>
<br>
<!-- blog post component -->
<div class="myDiv">
  <div id="bg"></div>
  <div class="container">
    <div >
      <h2>CREATE NEW BLOG</h2>
      <form [formGroup]="blogForm" (ngSubmit)='addBlog(blogForm.value)' enctype="multipart/form-data">
        <div class='alert  alert-danger' *ngIf='error'>
        {{error}}
      </div>
      <div class="form-group">
        <label>
          <input type="text" formControlName='title' placeholder="Title" class="form-control">
        </label>
        <br>
        <div class='alert alert-danger' *ngIf="blogForm.controls['title'].touched && blogForm.get('title').hasError('required')">Title
          required
        </div>
        <div class='alert alert-danger' *ngIf="blogForm.get('title').hasError('maxlength')">
            Title should contain maximum of 40 characters
          </div>
        </div>

        <div class="form-group">
            <angular-editor formControlName="description" [config]="editorConfig" min="0.1" max="30"></angular-editor>
            <br>
        <div class='alert alert-danger' *ngIf="blogForm.controls['description'].touched && blogForm.get('description').hasError('required')">Description is required
        </div>
          <div class='alert alert-danger' *ngIf="blogForm.get('description').hasError('minlength')">
            <span>Description should contain minimum 100 characters</span>  
          </div>
      </div>
      
      
        <div class="form-group">
            <label>Upload Image</label>
              <div class="input-group">
                  <span class="input-group-btn">
                    <span class="btn btn-default btn-file">
                      <input #myInput type="file" id="imgInp" formControlName='image' (change)="onFileChanged($event)"><br><br>
                      <!-- <img [src]="blogImage" width="200"  alt="Image not Available" class="img-thumbnail" *ngIf="blogImage" style="margin-right: 104px;">
                         <button type="button" class="close" aria-label="Close" *ngIf="blogImage" (click)="removeFile(blogImage)">
                           <span aria-hidden="true">&times;</span>
                        </button> -->
                      </span>
                  </span>
              </div>
            </div>
            <div class="form-group">
                  <ul class="list-group" *ngIf="blogImage">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <img [src]="blogImage" width="200"  alt="Image not Available" class="img-thumbnail" *ngIf="blogImage" style="margin-right: 104px;">
                      <span class="badge badge-danger badge-pill" (click)="removeFile(blogImage)"><i
                          class="fa fa-close"></i></span>
                    </li>
                  </ul>
            </div>


            <!-- <div class="form-group">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text ">Upload</span>
                  </div>
                  <div class="custom-file">
                      <input type="file" id="imgInp" formControlName='image' #myInput (change)="onFileChanged($event)">
                     <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                  </div>
                </div>  
              </div> -->
              <!-- <div class="form-group">
                  <ul class="list-group" *ngIf="blogImage">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <img [src]="blogImage" width="200"  alt="Image not Available" class="img-thumbnail" *ngIf="blogImage" style="margin-right: 104px;">
                      <span class="badge badge-danger badge-pill" (click)="removeFile(blogImage)"><i
                          class="fa fa-close"></i></span>
                    </li>
                  </ul>
                </div> -->
            
            <div class='form-group'>
              <!-- <input type='submit' class='btn btn-success button expanded' value='Publish' [disabled]="blogForm.invalid" routerLink="/home"> -->
              <button type="button" class="btn btn-success button expanded"  [disabled]="blogForm.invalid" (click)="addBlog()" value="add" id="add">Publish</button>
            </div>
    </form>
  </div>
</div>
</div>
<app-footer></app-footer>